.dashboard__items-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.dashboard__items-wrapper {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin: auto;
  padding: 20px 20px 60px 20px;
}
@media (min-width: 1025px) {
  .dashboard__items-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: hidden;
  }
}
.dashboard__items {
  padding-left: 0;
  margin-bottom: 40px;
  margin-left: 0;
  display: flex;
  flex-flow: row wrap;
}
.dashboard__item {
  list-style: none;
  position: relative;
  padding: 5px;
  width: 33.33%;
  height: 300px;
}
@media (max-width: 768px) {
  .dashboard__item {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .dashboard__item {
    width: 100%;
    height: 260px;
  }
  .dashboard__item .dashboard__item-inner {
    padding: 40px 20px;
  }
}
.dashboard__item-inner {
  padding: 50px 20px 65px;
  text-align: center;
  position: relative;
  border: 2px solid #e3e3e3;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: 0.2s;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .dashboard__item-inner {
    padding: 40px 20px 65px;
  }
}
.dashboard__item-inner:hover {
  -webkit-box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.33);
  z-index: 5;
}

.page-title.dashboard__item-title {
  font-size: 1.6em;
}
.dashboard__item-description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
  max-height: 115px;
  overflow: hidden;
}

.dashboard__wrapper-link {
  display: inline-block;
  color: #575757;
  text-decoration: none!important;
}
.dashboard__item-button {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  z-index: 1;
  border: none;
  color: #fff!important;
  padding: 1em 1.4em;

}
.dashboard__item-button .label-plus {
  display: inline-block;
}
.dashboard__item-button .label-less {
  display: none;
}
.dashboard__item-button.expanded .label-plus {
  display: none;
}
.dashboard__item-button.expanded .label-less {
  display: inline-block;
}

/**
 * Toolbar tab icon.
 */
.toolbar-bar .toolbar-icon-admin:before,
.toolbar-bar .toolbar-icon-admin:active:before,
.toolbar-bar .toolbar-icon-admin.active:before {
  background-image: url(../images/admin.svg);
}
